:root {
    --default-font: "Roboto", "sans-serif";
    --bg-color: #FFFFD4;
    --nav-color: #FF6F2A;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font-family: var(--default-font);
}

.wrapper {
    width: 70%;
    border: 2px solid brown;
    margin: 30px auto;
}

header .header-image {
    width: 100%;
    height: 250px;

}

header .header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navmenu {
    background-color: var(--nav-color);
    position: sticky;
    top: 0;
}

.navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navmenu a,
.navmenu a:focus {
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 700;
    text-decoration: none;
}

.navmenu a:hover {
    background-color: #BF153F;
}

main {
    background-color: white;
    color: #555;
    padding: 20px;
}

.content-section {
    padding: 20px;
}

.flex-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 30px;
}

.image-container {
    flex: 0 0 30%;
}

.text-container {
    flex: 1;
}

.content-image {
    width: 100%;
    height: auto;
}


.text-container h2 {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .image-container,
    .text-container {
        width: 100%;
    }

    .text-container {
        margin-top: 15px;
    }
}

footer {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.map {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.map iframe {
    display: block;
    width: 100%;
    height: 200px;
    border: 0;
}